<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57d7b546f7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/dashboard/style.css">
    <title>Document</title>
</head>

<body>

    {{!-- ------------------------------------------ --}}

      <div class="navigation">
    <header class="navbar" id="navib">
      <nav>
        <a href="/home" class="logo">
          <img src="images/logo.jpg" />
        </a>
        <ul class="options">
                    <li><a href="/home/download/report" href="javascript:void(0)" style="text-decoration: none;"><span>Sample Report</span></a>
          </li>
          <li><a href="/home/download/reportTemplate" href="javascript:void(0)" style="text-decoration: none;"><span>Sample Template</span></a>
          </li>
          <li><a href="/dashboard" href="javascript:void(0)" style="text-decoration: none;"><span>My Projects</span></a>
          </li>
          <li><a href="/user/logout" href="javascript:void(0)" style="text-decoration: none;"><i
                class="fas fa-sign-out-alt"></i></a>
            {{!-- <img src="images/brave.png" class="user-pic" style="margin-right: 40px;"> --}}
        </ul>
      </nav>
    </header>
  </div>
    {{!-- ----------------------------------------------- --}}

    <div class="profile-info">
        <p style="font-size: 32px;font:white">{{user.name}}</p>
        <br>
        <hr style="background-color:white;color:white">
        <div class="info">

            <p>PRN: {{user.PRN}}</p>
            <br>
            <p class="email_user">Email: <a  href='mailto:{{user.email}}'>{{user.email}}</a></p>
            <p>Member since : {{user.date}}</p>
            <br>
            <div class="contributors">
                <ul class="contributors-list">
                    <li style="background-color: rgb(241, 235, 235)"></li>
                    <li>{{this.PRN}}</li>
                </ul>
            </div>
        </div>
              <div class="button">
                    <button class="add-button">
                        <i style="font-size: 32px; border-radius: 30px;background-color: green"
                            class="fa-solid fa-plus"></i>
                        <a href="/form">
                            <p style="color: white;">Add project</p>
                        </a>
                    </button>
                </div>

    </div>
    <div class="my-projects">
        <p style="font-size: 32px;text-align:center">My Projects</p>
        <div class="project">
            <div class="project-cards">
                {{!-- {{#each proj}} --}}
                <div class="container">
                    <div class="border-div">
                        <div class="cards grid-row">
                            {{#each proj}}
                            <div class="card">
                                <div class="card-top">
                                    <a href="/project/{{this.title}}">
                                        <img src="{{this.file2}}">
                                </div>
                                <div class="card-info">
                                    <h2>{{title}}</h2>
                                    <span class="date">{{this.currentDate}}</span>
                                    <h4>
                                        <p class="details">{{this.obj}}</p>
                                    </h4>
                                    <h2 class="headlines pd-1" style="margin-bottom: 30px;margin-top: 25px;">
                                        {{this.technologies}}</h2>

                                    {{!-- <span>{{technologies}}</span> --}}
                                </div>
                                <div class="card-bottom flex-row">
                                    <!-- <a href="#" class="read-more">View Project</a> -->
                                    {{!-- <a href="#" class="button btn-sky">View Project</a> --}}
                                </div>
                                </a>
                            </div>
                            {{/each}}
                        </div>
                        <div class="pagination">
                            <li class="page-item previous-page disable"><a class="page-link" href="#">Prev</a></li>
                            <li class="page-item current-page active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item dots"><a class="page-link" href="#">...</a></li>
                            <li class="page-item current-page"><a class="page-link" href="#">5</a></li>
                            <li class="page-item current-page"><a class="page-link" href="#">6</a></li>
                            <li class="page-item dots"><a class="page-link" href="#">...</a></li>
                            <li class="page-item current-page"><a class="page-link" href="#">10</a></li>
                            <li class="page-item next-page"><a class="page-link" href="#">Next</a></li>
                        </div>

                    </div>

                </div>
                {{!-- {{/each}} --}}
            </div>

        </div>
       </div>
    </div>
    <script>function getPageList(totalPages, page, maxLength) {
            function range(start, end) {
                return Array.from(Array(end - start + 1), (_, i) => i + start);
            }

            var sideWidth = maxLength < 9 ? 1 : 2;
            var leftWidth = (maxLength - sideWidth * 2 - 3) >> 1;
            var rightWidth = (maxLength - sideWidth * 2 - 3) >> 1;

            if (totalPages <= maxLength) {
                return range(1, totalPages);
            }

            if (page <= maxLength - sideWidth - 1 - rightWidth) {
                return range(1, maxLength - sideWidth - 1).concat(0, range(totalPages - sideWidth + 1, totalPages));
            }

            if (page >= totalPages - sideWidth - 1 - rightWidth) {
                return range(1, sideWidth).concat(0, range(totalPages - sideWidth - 1 - rightWidth - leftWidth, totalPages));
            }

            return range(1, sideWidth).concat(0, range(page - leftWidth, page + rightWidth), 0, range(totalPages - sideWidth + 1, totalPages));
        }

        $(function () {
            var numberOfItems = $(".card").length;
            var limitPerPage = 3; //How many card items visible per a page
            var totalPages = Math.ceil(numberOfItems / limitPerPage);
            var paginationSize = 7; //How many page elements visible in the pagination
            var currentPage;
            function showPage(whichPage) {
                if (whichPage < 1 || whichPage > totalPages) return false;
                currentPage = whichPage;

                $(".cards .card").hide().slice((currentPage - 1) * limitPerPage, currentPage * limitPerPage).show();

                $(".pagination li").slice(1, -1).remove();

                getPageList(totalPages, currentPage, paginationSize).forEach(item => {
                    $("<li>").addClass("page-item").addClass(item ? "current-page" : "dots")
                        .toggleClass("active", item === currentPage).append($("<a>").addClass("page-link")
                            .attr({ href: "javascript:void(0)" }).text(item || "...")).insertBefore(".next-page");
                });

                $(".previous-page").toggleClass("disable", currentPage === 1);
                $(".next-page").toggleClass("disable", currentPage === totalPages);
                return true;
            }

            $(".pagination").append(
                $("<li>").addClass("page-item").addClass("previous-page").append($("<a>").addClass("page-link").attr({ href: "javascript:void(0)" }).text("Prev")),
                $("<li>").addClass("page-item").addClass("next-page").append($("<a>").addClass("page-link").attr({ href: "javascript:void(0)" }).text("Next"))
            );

            $(".cards").show();
            showPage(1);

            $(document).on("click", ".pagination li.current-page:not(.active)", function () {
                return showPage(+$(this).text());
            });

            $(".next-page").on("click", function () {
                return showPage(currentPage + 1);
            });

            $(".previous-page").on("click", function () {
                return showPage(currentPage - 1);
            });
        });</script>
</body>

</html>